body {
  background-color: black;
}

a {
  color: rgb(47, 51, 51);
}

.App-header,
.App-footer {
  color: white;
  text-align: center;
}

.App-header {
  font-size: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}
