body {
  background-color: black;
}

a {
  color: #8ea6b4;
}

.App-header,
.App-footer {
  color: white;
  text-align: center;
  font-family: fantasy;
}

.App-header {
  font-size: 60px;
  font-family: sans-serif;
  font-weight: bold;
}
